.form-box {
    width: 50%;
    margin: 186px auto; /* Center the form horizontally and add some top margin */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .form-box h2 {
    text-align: center;
  }
  
  /* .form-box label {
    display: block;
    margin: 10px 0 5px;
  } */
  
  .form-box input{
    width: 100%; /* Adjust for padding */
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  .form-box button {
    width: 100%;
    padding: 10px;
    background-color: red;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /*.form-box button:hover {
    background-color: #0056b3;
  }*/