.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.signin-form {
	width: 800px;
	padding: 2rem;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

#btn1 {
  display: flex;
  align-items: center;
  color: #333;
  justify-content: center;
  padding: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 1.5rem;
  width: 100%;
}

.google-button svg {
  margin-right: 10px;
}

.google-button:hover {
  background: #f5f5f5;
}

.span {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  color: #888;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  background: #f8f8f8;
  font-size: 1rem;
}

.forgot-password {
  color: #333;
  font-size: 0.9rem;
  text-decoration: none;
  text-align: center;
  margin: 1rem 0;
  display: block;
}

.signin-button {
  width: 100%;
  border-radius: 25px;
  border: none;
  background-color: red;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.signin-button:hover {
  background-color: red;
  box-shadow: 0 5px 15px rgb(255, 39, 39);
}

.signin-link {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

.signin-link a {
  color: red;
  text-decoration: none;
}

.signin-link a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .signin-form  {
    padding: 1.5rem;
  }

  h1 {
    font-size: 1.75rem;
  }

  .google-button,
  .input-field,
  .signin-button {
    padding: 0.6rem;
  }

  .span,
  .forgot-password,
  .signin-link {
    font-size: 0.8rem;
  }
}