.faq-section {
  text-align: center;
  padding: 20px;
  background-image: url('./faq_bg.jpg');
  border-radius: 10px;
  max-width: auto;
  height: auto;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-section h2 {
  font-size: 35px;
  font-weight: bolder;
  margin-bottom: 10px;
  text-decoration: underline;
  text-decoration-color: red;
}

.faq-section p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.faq-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}

.faq-item {
  margin: 10px;
  padding: 15px;
  background-color:white;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  overflow: hidden;
}

.faq-item.active {
  background-color: #f7f7f7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #ccc;
}

.faq-question {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.faq-question .plus-minus {
  font-size: 24px;
  margin-right: 10px;
  color: red;
}

.faq-answer {
  margin-top: 10px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .faq-list {
    grid-template-columns: 1fr;
  }

  .faq-section {
    padding: 10px;
    height: auto;
  }

  .faq-item {
    margin: 5px;
    padding: 10px;
  }

  .faq-section h2 {
    font-size: 28px;
  }

  .faq-section p {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .faq-section {
    padding: 5px;
    height: auto;
  }

  .faq-item {
    margin: 3px;
    padding: 8px;
  }

  .faq-section h2 {
    font-size: 24px;
  }

  .faq-section p {
    font-size: 12px;
  }

  .faq-question {
    font-size: 16px;
  }

  .faq-answer {
    font-size: 14px;
  }
}
