h1{
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; 
  }
  
  .container img {
    width: 150px; 
    height: 150px; 
    margin-bottom: 50px; 
  }
  .img1, .img2, .img3, .img4, .img5 {
    text-align: center;
  }
  .img-style {
    width: 200px; 
    height: 200px;
    margin: 10px; 
  }
  @media (max-width: 768px) {
    .container {
      flex-direction: column; 
    }
  }