.contact-info-background {
    background-color: #f5f5f5;
    width: 50%;
    padding: 20px;
  }
  
  .contact-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 20px;
    }
    
    .contact-info,
    .contact-form {
      width: 100%;
      margin-bottom: 20px;
    }
    
    .contact-info h2 {
      font-size: 24px;
    }
    
    .contact-info p {
      font-size: 16px;
      line-height: 1.5;
    }
    
    .contact-info address {
      margin-top: 20px;
      font-style: normal;
    }
    
    .contact-info address p {
      margin: 5px 0;
      display: flex;
      align-items: center;
    }
    
    .contact-info address p svg {
      margin-right: 10px;
    }
    
    .contact-form form {
      display: flex;
      flex-direction: column;
    }
    
    .form-row {
      display: flex;
      justify-content: space-between;
    }
    
    .form-group {
      margin-bottom: 15px;
      width: 100%;
    }
    
    .form-row .form-group {
      width: 48%;
    }
    
    .form-group label {
      display: block;
      margin-bottom: 5px;
    }
    
    .form-group input,
    .form-group textarea {
      width: 100%;
      padding: 8px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    textarea {
      height: 100px;
    }
    
    button {
      padding: 10px 20px;
      font-size: 16px;
      color: white;
      background-color: #6200ee;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      align-self: flex-start;
    }
    
    /* Media Queries for responsiveness */
    @media (min-width: 768px) {
      .contact-info,
      .contact-form {
        width: 48%;
      }
    }
    
    @media (max-width: 767px) {
      .form-row .form-group {
        width: 100%;
      }
    }
    