

.footer{
    background-color:#4c515a;
    color: #dae3ee;
    text-align: center;
    position: sticky;
    top: 100px;
}

.footer-end p{
/* font-size: 100px; */
align-items: center;
text-align: center;
padding-top: 20px;
margin-left: 20px;
height: 60px;
}

/* hr{

 
} */
/* @media (max-width: 1200px) {
    .footer-logo {
        right: 0;
        top: 0;
        margin-bottom: 20px;
    }

    .footer-info {
        flex-direction: column;
        align-items: center;
    }

    .footer-info div {
        margin: 10px 0;
    }
}

@media (max-width: 768px) {
    .footer-mid {
        flex-direction: column;
        text-align: center;
    }

    .footer-mid h4 {
        right: 0;
    }
}

@media (max-width: 480px) {
    .footer-form input,
    .footer-form button {
        margin: 5px 0;
        width: 100%;
        height: 100%;
        
    }

    .footer-end {
        flex-direction: column;
    }

    .footer-end p {
        margin-bottom: 10px;
    }
} */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-main {
        flex-direction: column;
    }
    .footer-info {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-logo {
        right: 150px;
    }
    .footer-mid {
        height: 100px;
    }
    .footer-mid h4 {
        right: 20px;
    }
}

/* Small screens (mobiles) */
@media only screen and (max-width: 767px) {
    .footer-main {
        flex-direction: column;
    }
    .footer-info {
        flex-direction: column;
        align-items: center;
    }
    .footer-logo {
        right: 0;
        top: 0;
    }
    .footer-mid {
        height: 50px;
        flex-direction: column;
        align-items: center;
    }
    .footer-mid h4 {
        margin-left: 0;
        right: 0;
    }
    .footer-form input, .footer-form button {
        width: 100%;
        margin: 10px 0;

    }
    .footer-end{
        width: 100%;
    }
}