/* .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(105, 55, 55);
}

.custom-close .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
} */

.custom-close .btn-close:hover {
  opacity: 0.75;
}

.nav-item-spacing {
  margin-right: 20px;
}

.nav-item-spacing:last-child {
  margin-right: 0;
}


@media (max-width: 991.98px) {
  .nav-item-spacing {
    margin-right: 0;
    margin-bottom: 10px;
  }
}