.about-container{
  margin-right: 10px;
  height: 100vh;
}

.head{
  color: red;
  text-align: start;
  margin-left: 100px;
}
#boxHeading{
  text-align: center;
}
.box1{
  display: flex;
  flex-direction: row;
  grid-template-columns: 1fr 1fr;
}
.box{
  background-color: whitesmoke;
  width: 375px;
  height: 350px;
  border-radius: 10px;
  padding: 20px;
  margin-left: 100px;
  margin-top: 20px; 
  margin-bottom: 40px; 
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee ol {
  display: flex;
  flex-wrap: nowrap;
}

.marquee li {
  flex: 0 0 auto;
  margin-right: 20px;
}

.marquee li:last-child {
  margin-right: 0;
}
.container {
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
    grid-column: 1;
  }
  
  .container img {
    width: 150px; 
    height: 150px; 
    margin-bottom: 50px; 
    
  }
  div p{
    margin-left: 30px;
  }
 
   .img1{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   } 
  @media (max-width: 820px) {
    .container {
      flex-direction: column; 
    }
  }

      flex-direction: column;
      order: 1;
      margin-top: 20px;
    }

    .img1{
      width: 100%;
      margin-bottom: 30px;
    }

    .box {
      order: 2;
      margin-left: 30px;
      margin-right: 20px;
    }

    .about-container{
      display: flex;
      height: auto;
      flex-direction: column;   
  }

  .head {
    margin-left: 20px;
  }

  #boxHeading{
    margin: auto;
  }
}

