.med-doner {
    color: #d9534f;
    text-align: center;
}

.form-container-doner {
    margin: auto;
    padding: 20px;
    width: 70%;
}

.logo-doner {
    display: block;
    margin: 0 auto 20px;
}

.text-doner,
.date-doner,
.tel-doner,
.email-doner {
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 16px;
    border: 1px solid;
    border-radius: 4px;
}

.name-field-doner {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 98%;
}

.name-field-doner .text-doner {
    flex: 1;
}

.checkbox-group-doner {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-bottom: 20px;
}

.radio-group-doner > div {
    display: flex;
    accent-color: red;
    gap: 20px;
    flex-wrap: wrap;
}

.radio-group-doner {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.container-doner {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.option-doner {
    display: flex;
    align-items: center;
    accent-color: red;
    flex: 1 1 calc(50% - 10px);
    margin-bottom: 10px;
}

.type-doner {
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.legend-doner {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.gender-options-doner {
    display: flex;
    accent-color: red;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.gender-options-doner > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.radio-doner {
    margin: 0;
}

.submitt-doner {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.submit-doner,
.reset-doner {
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    margin: 2px 4px;
    cursor: pointer;
}

.submit-doner:hover,
.reset-doner:hover {
    background-color: #ff3b3b;
    color: white;
}

.blood-label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.select-doner {
    width: 98%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
}
Label Styles
.radio-label,
.name-label,
.dob-label,
.phone-label,
.email-label,
.prev-doner {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
}


.select-doner:focus {
    outline: none;
}

.blood-doner {
    margin-bottom: 10px;
}

